body {
    font-family: 'Tilt Warp', cursive;
}

h1 {
    font-size: 40px;
}

.fst {
    color: orange;
}

.flexible {
    display: flex;
    margin-bottom: 100px;
}

.half-width {
    width: 50%;
    padding-left: 5%;
    padding-top: 5%;
}

.half-width img {
    width: 70%;
}

.link-button {
    text-decoration: none;
    background-image: linear-gradient(rgb(197, 125, 17), tomato);
    border-radius: 5px;
    color: aliceblue;
    font-weight: 700;
    padding: 10px 40px;
}

.dream-big {
    display: flex;
}

.tahsin {
    height: 80%;
}

.exp-list {
    width: 40%;
    box-shadow: 10px 10px 30px gray;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 10px;
    padding-right: 10px;
}

#full-stack-dev {
    border-left: 7px solid red;
}

#baby-web {
    border-left: 7px solid blue;
}

footer {
    text-align: center;
}